body {
  font-family: "Nunito", sans-serif;
  text-align: center;
}

h1,
h2 {
  text-align: center;
}
h1 {
  font-size: 50px;
}
h2 {
  text-align: center;
  font-weight: initial;
}

.hero_iframe {
  width: 40rem;
  height: 30rem;
  text-align: center;
}

/* Navigation bar */
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav li {
  display: inline-block;
  margin: 0 2rem 0 0;
  text-decoration: underline;
}

.nav_li {
  background-color: rgb(55, 102, 230);
  text-decoration: none;
  color: white;
  padding: 0.5em;
  width: 9em;
  text-align: center;
  display: inline-block;
}
.nav_li a {
  color: white;
  font-weight: bold;
}
/* Navigation bar */
.signup-form form input[type="submit"] {
  border: none;
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 2rem;
  width: 8em;
  text-align: center;
  display: inline-block;
}
